body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #dd66ac, #186dd6);
  color: #fff;
}

.App {
  text-align: center;
  margin: 50px auto;
  max-width: 700px;
  border-radius: 20px;
  height: auto;
  padding: 20px 50px;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-engine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search-engine input {
  width: 70%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.search-engine input::placeholder {
  color: #2e2929; 
}
.search-engine button {
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 13px 15px;
  transition: background-color 0.3s ease;
}

.search-engine button:hover {
  background-color: #444;
}

.CityName {
  margin-bottom: 10px;
}

.loading {
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.date {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.temperature {
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.description {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.col {
  display: flex;
  align-items: center;
  line-height: 1px;
}
.no-location {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .App {
      padding: 20px;
  }

  .search-engine input {
      width: 60%;
  }

  .temperature {
      font-size: 48px;
  }

  .description {
      font-size: 18px;
  }
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 430px) {
  .App {
      width: 95%;
  }

  .search-engine input {
      width: 50%;
  }

  .temperature {
      font-size: 36px;
  }

  .description {
      font-size: 16px;
  }
}

